<a href="https://colab.research.google.com/github/Agilaasrinandhakumar/Agilaasrinandhakumar/blob/main/data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
my_string = "42"
my_integer = int(my_string)

print(my_integer)  # Output: 42
print(type(my_integer))  # Output: <class 'int'>

42
<class 'int'>

In [7]:
my_string = "23"
my_integer = int(my_string)
print(my_integer)
print(type(my_integer))

23
<class 'int'>

In [9]:
my_string = "23.5"
my_float = float(my_string)
print(my_float)
print(type(my_float))

23.5
<class 'float'>

In [10]:
my_integer = 42
my_string = str(my_integer)
print(my_string)
print(type(my_string))

42
<class 'str'>

In [11]:
my_float = 3.14
my_string = str(my_float)
print(my_string)
print(type(my_string))

3.14
<class 'str'>

In [12]:
my_integer = 42
my_float = float(my_integer)
print(my_float)
print(type(my_float))

42.0
<class 'float'>

In [13]:
my_boolean = True
my_integer = int(my_boolean)
print(my_integer)
print(type(my_integer))

1
<class 'int'>

In [14]:
my_boolean = True
my_string = str(my_boolean)
print(my_string)
print(type(my_string))

True
<class 'str'>

In [15]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [16]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)
print(type(my_list))

[1, 2, 3]
<class 'list'>